.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 0rem 0rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

h3 {
  padding: 0rem 2rem;
}

.login-card {
  display: flex !important;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.radio-group {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.check-group {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.submit-button {
  margin-top: 2rem !important;
}

.checkbox,
.radio {
  padding-bottom: 1rem;
}
