h3 {
  padding: 0rem 2rem;
}

.page__content {
  padding: 1rem !important;
}

.login-card {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  transform: translateY(20px);
  opacity: 0;
  max-width: 500px;
  margin-left: auto !important;
  margin-right: auto !important;
  animation-name: upWard;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 2);
}

.radio-group {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.check-group {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.submit-button {
  margin-top: 2rem !important;
}

.checkbox,
.radio {
  padding-bottom: 1rem;
}

.list {
  margin: 0rem 1rem !important;
  max-width: 500px;
  margin-left: auto !important;
  margin-right: auto !important;
  padding: 1rem !important;
  animation-name: upWard;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 2);
}

.list-item {
  padding: 1rem !important;
}

@keyframes upWard {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
